  .product-card .pro {
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    margin:6px 1px;
    border-radius: 2px;
  }
 
  /* Hover effect for proegory */
  .product-card .pro:hover {
    box-shadow: 2px 2px 10px rgba(16, 16, 34, 0.26) !important;
  }
  .pro span p {
    margin: 0 3px;
    color: #62666d;
    cursor: default !important;
    font-size: 10px;
  }
  /* Triangle badge for sale */
 .product-card .pro .triangle-badge {
    width: 0;
    height: 0;
    border-top: 60px solid rgb(250, 69, 69);
    border-left: 60px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    color: black;
    font-size: 14px;
    font-weight: bold;
    transform: rotate(0deg);
    transform-origin: top right;
    padding-top: 10px;
  }
  /* product-name in pro */
  .product-card .pro .product-name {
    display: inline-block;
    font-size: 14px;
    padding: 5px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    position: relative;
    margin-top: 40px;
    max-width: 100%;
    mask-image: linear-gradient(to left, transparent 2%, rgb(255, 255, 255) 40%);
  }
  .product-card .pro .product-name:hover{
    mask-image: linear-gradient(to left, transparent 0%, white 0%);
  }
  .product-card .pro .product-name span {
    display: inline-block;
    transform: translateX(1);
    transition: transform 5s linear;
  }
  
  .product-card .pro .product-name:hover span {
    transform: translateX(-100px);
  }
  
  /* Sale label inside the triangle badge */
   .product-card .pro .triangle-badge .sale {
    position: absolute;
    top: -50px;
    right: 3px;
    transform: rotate(45deg);
    color: #f0f0f0;
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap;
  }
.card-text{
  height: 50px;
  mask-image: linear-gradient(to bottom, 
  rgb(255, 255, 255) 40%, 
  transparent 98%);
  overflow: hidden;
}

  /* Badge for star rating */
  #offerSectionDown .product-card .pro .badge-star{
       right: 93%;
  }
  .product-card .pro .badge-star {
    width: 45px;
    top:25px!important;
    right: 89%!important;
    background-color: #ffd901;
    color: rgb(31, 31, 31);
    border-radius: 0 5px 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: row;
    }
  .product-card .pro .top {
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-card .pro .top img {
    max-width: 85%;
    max-height: 100%;
    object-fit: contain;
  }

  .product-card .pro .down {
    padding: 10px;
  }

  .product-card .pro .down .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:5px;
  }
  .product-card .pro .down .box .Quantity-stock{
    font-size: 12px;
  }

  .product-card .pro .down .box .off {
    background-color: var(--darkBlu-color);;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    flex-shrink: 0;
  }

  .product-card .pro .down .box .orginal {
    text-align: center;
    flex-grow: 1;
    margin-right: 5px;
    font-size: 14px;
    text-decoration: line-through;
    color:gray;
  }

  .product-card .pro .down .final-price-div {
    background-color: rgba(240, 238, 238, 0.534);
    text-align: center;
    padding: 6px;
    font-weight: bold;
    font-size:15px;
    color: #000;
    display: flex;
    justify-content:flex-end;
  }

@media (max-width:768px) {
    .product-card .pro .down .box .orginal{
        font-size: 12px;
    }
    
   }
/*=================================================
   Message for add to cart (cart popup) 
===================================================*/
#cart-popup {
  position: fixed;
  top: 40vh;
  right: -300px;
  transform: translateY(-50%);
  background: #ffffff;
  border: 1px solid #ccc;
  padding: 20px;
  min-width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  text-align: center;
  transition: right 0.5s ease;
  z-index: 9999;
  border-radius: 10px;
}

#cart-popup.show {
  right: 50%;
  transform: translate(50%, -50%);
}

.hidden {
  display: none;
}
   /*=================================================
    Product-specific styling on the All Products page
   ===================================================
   */
   .products-area .product-card .pro{
    margin: 10px;
   }
   .product-card .pro .product-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(73, 73, 73, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 10;
    height: 50%;
    width: 90%;
    margin: 7px auto;
  }
  .product-card .pro:hover .product-overlay {
    opacity: 1;
  }
  .product-card .pro .product-overlay button {
    z-index: 11;
  }
  
  /* add style zoomy*/

#el .owl-carousel {
  margin-top: 10px;
  width:100%;
}

#el .owl-carousel .owl-stage-outer{
  width: 100%;
  margin: auto;
  background-color:#fff!important;
  z-index: 10;
}

#el .owl-carousel .owl-item img{
  width: 100%;
}

#el .owl-carousel .owl-nav{
  top:20px;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

#el .owl-carousel .owl-nav button{
  font-size: 30px;
  width: 20px;
  height: 20px;
  color:rgb(245, 138, 67);
  border-radius:50%;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .1) !important;
  display: flex;
  align-items:center;
  justify-content: center;
  position: absolute; 
  top: auto; 
  margin: 0; 
  z-index: 20;
}



  #el .owl-carousel .owl-nav .owl-prev {
      right: -20px; 
  }


  #el .owl-carousel .owl-nav .owl-next {
      left: -20px; 
  }

  #el .owl-carousel.owl-rtl .owl-item {
    float: right;
    margin: 0px !important;
}

